
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');


body::-webkit-scrollbar{
    display: none;
}

.section-3{
    width: 100%;
    height: 80vh;
    padding: 0% 10%;
    position: absolute;
    top:10%;
}

.section-2{
    padding: 5vw;
}
.coverimg{
    width: 100%;
    height: 86.3vh;
}
.bgimg2{
   display: none;
}

/* .section-3:after{
    height: 100vh;
    width: 100vw;
    content: "";
    background-color: rgba(0, 0, 0, 0.767);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    pointer-events: none;
} */
/* .example{
    animation-name: exmpl2;
    animation-duration: 1.5s;
}
.example2{
    animation-name: exmpl;
    animation-duration: 1.5s;
} */

.arrow{
    position: absolute;
    bottom: 1vh;
    z-index: 1;
    height: 80vh;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    margin: auto;

}

.toparrow{
    float: right;
    position:absolute;
    top: 15%;
}

.fa-angle-double-up{
    color:darkcyan;
}
.fa-angle-double-up:hover{
    color: cadetblue;
}

.fa-angle-double-down{
    color:rgb(172, 172, 172);
}
.fa-angle-double-down:hover{
    color: rgb(255, 255, 255);
}


.bottomarrow{
    position: fixed;
    bottom: 3vh;
    left: 50%;
    z-index: 5;
}

/* @keyframes exmpl{
    from{opacity:0; transform: translateY(100px);}
    to{opacity:1; transform: translateY(0px); }

}
@keyframes exmpl2{
    from{opacity:1; transform: translateY(0px);}
    to{opacity:0; transform: translateY(-100px); }  
} */

.space{
    height:0;
    width: 100%;
}
.flexd{
    display: flex;
    flex-direction: column;
}
.posn{
    position: absolute;
    top:0%;
}
.img100{
 
 height: 250px;

}
.imgg100{
    height: 515px;
}
.imght350{
    
    height: 280px;
    width: 100%;
}
.imght500{
    height: 500px;
}
.imght600{
    height: 515px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
}
.imght292{
    height: 250px;
    
}
.imght550{
    height: 260px;
   
}

.section1{
	overflow:hidden;
	position:relative;
	display:flex;
}
.section1 img{
	opacity:0.2;
	position:absolute;
	left:-100px;
	top:0;
	width:100%;
	height:80%;
	justify-content:center;
	
}
.section1 .row{
    position:relative;
}
.abtus{
    padding: 5% 5%;
    text-align: justify;
    line-height: 1.7;

}
.abt{
    display: flex;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 3rem;    
}
.abtContent{
    font-family: Georgia;
    /* transform: scale(1,1.05); */
    /*color: gray;*/
	color: black;
}
.bgimg{
    position: absolute;
    top:5%;
    left:7%;
    width: 80%;
    height: 90%;
    background-image: url('./img/img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(-30deg);
    text-shadow: 1px 2px 2px black,1px 2px 5px black,1px 2px 2px black; 
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
	background: url(../img/Asset.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	z-index:-88;
	  
}


html {
  scroll-behavior: smooth;
}
nav{
    background-color:white;
    }
	
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}	

 
.image {
    position: relative;
}


.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--primary {
    background:rgba(0, 0, 0, 0.3);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 1.5em;
    font-weight: bold;
}

.image__description {
    font-size: 0.9em;
    margin-top: 0.25em;
    padding:  0  2.25em;
}
@media (max-width: 500px){
    .coverimg{
        width: 100%;
        height: 30vh;
    }
    .bgimg2{
        display: block;
       height: 40vh;
      
       width: 100%;
       background-image: url('./img/img.png');
       background-size: 100% 100%;
       background-repeat: no-repeat;
       transform: rotate(-181deg);
       text-shadow: 1px 2px 2px black,1px 2px 5px black,1px 2px 2px black; 
     
      
    }
    .bgimg{
        position: relative;
        padding-top: 200px;
        width: 80%;
        height: 90%;
        background-image: url('img/img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transform: rotate(0);
        text-shadow: 1px 2px 2px black,1px 2px 5px black,1px 2px 2px black;
      
       
    }
    
    .abtus{
        padding: 5% 5%;
        text-align: justify;
        line-height: 1.7;
     
    }
    .abtContent{
        
        color: rgba(0, 0, 0, 0.664);
        padding: 0;
        font-size: 1rem;
    }
    .image__title {
        font-size: 1.5em;
        font-weight: bold;
    }
    .imght350{
        height: 200px;
        margin-top: 5%;
    }
   .flexd{
       margin-top: 5%;
   }
   .imght500{
       height: 200px;
       width: 100%;
       margin-top: 5%;
   }
   .imght550{
       height: 200px;
       margin-top: 5%;
   }
   .img100{
       margin-top: 5%;
   }
   .imght600{
    height: 200px;
    background-size:100% 100%;
    background-position:center center;
      
   }
   .imght292{
    height: 200px;
    margin-top: 5%;
    
  }
  .imgg100{
    height: 200px;
}
.section-3{
    width: 100%;
    height: 100vh;
    padding: 5% 7%;
   
}
 
}
@media (max-width: 890px) and (min-width : 770px){
    .image__description{
        font-size: 0.7em;
    }
}

.box{
	padding-top:1rem; 
	border-bottom:1px solid black;
	margin-left:6rem;
	margin-right:12rem;
}


/* About Us

.section_title{
    margin-top: 2vh;
    margin-bottom: 2vh ;
    width: 100%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #a5145c;
}

.row2{
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 8%;
}

.abt-img{
    width: 50vw;
    height: 30vw;
}
.about_us{
    margin-top: 16vh;
    margin-bottom: 6vh;
}
.para{
    padding-left: 3%;
    margin-right: 10%;
    border-left: cornflowerblue 5px solid;
    font-size: 1vw;
}

.video{
    position: absolute;
    top: 3.5vw;
    left: 9vw;
    width: 35vw;
    height: 23vw;
}

.video_sec{
    text-align: center;
}

.button{
    padding-left: 30%;
} */

.section-2 h1 {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	padding: 0.4em 20px;
	font-size: 3em;
}

  
.section-2 p{
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.11) !important;
	font-weight:500;
	font-family:sans-serif !important;
}
.section-2 .container-fluid{
    padding:0 5rem 0 5rem;
 }
.section-2 .one{
	padding:0 1.5rem;
	margin: 20px 20px 20px 0;
}	


@media (max-width: 500px){
    .section-2 .row{
         flex-direction:column;
         flex-flow:row wrap;
    }
    .section-2 p{
     font-size: 0.8em;
    }
    .section-2 .one{
        padding:0 1rem;
        margin: 10px;
    }	 
    .section-2{
       padding: 0  1rem 0 0;
   }
    .section-2 h1 {
        padding: 0.15em 0;
        margin:0;
        font-size: 2.5em;
    }
    .section-2 .container-fluid{
       padding:0 2rem 0 0rem;
    }
        
 }


 .first{
    background:#9e80bd;
    transform: rotate(10deg);
    opacity:80%;
}
.second {
   background:  #cea6f7;
   transform: rotate(-10deg);
   opacity:50%;
}

.first,.second{
    display: inline-block;
    height: 20rem;
    width: 30rem;
    position: absolute;
}

iframe{
	height:20rem;
    width: 30rem;
}
.third{
	z-index:999;
	position: absolute;
   
	display: inline-block;
}

/* section{
    overflow-x:hidden;
 } */

 @media (max-width: 1300px){
    .first,.second,.third,iframe{
        width:330px;
        height:250px;
    }
}	

@media (max-width: 500px){
    .first,.second,.third,iframe{
        width:280px;
        height:210px;
    }
}
@media (max-width: 350px) {
    .first,.second,.third,iframe{
        width:240px;
        height:180px;
    }
}
